.month {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: aquamarine;
    border: solid green;
}

input {
    color: indigo;
}

.button-month {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: aquamarine;
    border: solid green;
}

button {
    cursor: pointer;
}